.login-title {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.subtitle {
  font-size: large;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 400;
}

.image-container {
  border-radius: 20px;
  display: flex;
  align-self: center;
}

.login-image {
  width: 200px;
  height: 200px;
  display: flex;
  align-self: center;
}

.login-input {
  font-size: large;
  margin-bottom: 32px;
  width: calc(100% - 40px);
}

.login-button {
  width: 100%;
  font-size: large;
  font-weight: 400;
}

.forgot-password-link {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #3880ff;
  cursor: pointer;
}

.form-container {
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
}

.modal-content {
  padding: 20px;
  text-align: center;
}

.password-input-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.logo-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 35px;
}