.login-title {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.subtitle {
  font-size: large;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 400;
}

.image-container {
  border-radius: 20px;
  display: flex;
  align-self: center;
}

.login-image {
  width: 200px;
  height: 200px;
  display: flex;
  align-self: center;
}

.login-input {
  font-size: large;
  margin-bottom: 32px;
}

.login-button {
  width: 100%;
  font-size: large;
  font-weight: 400;
}

.form-container {
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
}
