.welcome-title {
  font-size: large;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 20px;
}

/* Contenedor de la página */
.page-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 20px;
  justify-items: center;
  flex-grow: 1;
}

/* Contenedor para los botones de cerrar sesión y cambiar contraseña */
.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-group .button {
  display: flex;
  align-items: center;
}

/* Botón de pánico */
.ion-button.ion-color-danger {
  background-color: #e6382c;
  color: #fff;
  border-radius: 6px;
}

.ion-button.ion-color-danger:disabled {
  background-color: #d9534f;
}

/* Estilo para los botones de confirmación */
.confirm-button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* Estilo para el contenido del modal */
.modal-content {
  padding: 20px;
  text-align: center;
}

/* Título del modal */
.modal-title {
  font-size: large;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Subtítulo del modal */
.modal-subtitle {
  font-size: medium;
  margin-bottom: 20px;
}

.logout-button {
  display: "flex";
  align-self: center;
}

.please-upload-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-align: center;
  background-color: #e6382c;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 12px;
  border-radius: 6px;
  font-size: medium;
}

.uploaded-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-align: center;
  background-color: #2aa832;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 12px;
  border-radius: 6px;
  font-size: medium;
}

.check-icon {
  width: 40px;
  height: 40px;
}

.bell-icon {
  width: 50px;
  height: 50px;
}
