.message-notification-list {
    margin: 10px;
  }
  
  .message-notification-list .item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .message-notification-list .item-container .notification-title {
    font-weight: bold;
  }
  
  .message-notification-list .item-container .notification-date {
    font-size: 0.8rem;
    color: gray;
  }
  
  .message-notification-list .modal-content {
    padding: 20px;
  }
  
  .message-notification-list .modal-content h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .message-notification-list .modal-content p {
    font-size: 1rem;
    line-height: 1.5;
  }
  